-i https://pypi.org/simple
apig-wsgi==2.18.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
backports.zoneinfo==0.2.1; python_version < '3.9'
django==4.2.11; python_version >= '3.8'
django-s3-sqlite==0.0.5
sqlparse==0.5.0; python_version >= '3.8'
typing-extensions==4.11.0; python_version < '3.11'
whitenoise==6.6.0; python_version >= '3.8'
