-i https://pypi.org/simple
apig-wsgi==2.18.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
backports.zoneinfo==0.2.1; python_version < '3.9'
django==4.2.11; python_version >= '3.8'
django-s3-sqlite==0.0.5
sqlparse==0.5.0; python_version >= '3.8'
typing-extensions==4.11.0; python_version < '3.11'
whitenoise==6.6.0; python_version >= '3.8'
-i https://pypi.org/simple
apig-wsgi==2.18.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
backports.zoneinfo==0.2.1; python_version < '3.9'
django==4.2.11; python_version >= '3.8'
django-nested-admin==4.0.2; python_version >= '3.6'
django-s3-sqlite==0.0.5
numpy==1.24.4; python_version < '3.10'
pandas==2.0.3; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-monkey-business==1.0.0
pytz==2024.1
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlparse==0.5.0; python_version >= '3.8'
typing-extensions==4.11.0; python_version < '3.11'
tzdata==2024.1; python_version >= '2'
whitenoise==6.6.0; python_version >= '3.8'
