[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
apig-wsgi = "*"
django-s3-sqlite = "*"
whitenoise = "*"
django-nested-admin = "*"
django-jazzmin = "*"
wagtail = "*"
django-dynamodb-sessions = "*"
django-storages = {extras = ["s3"], version = "*"}
django-crispy-forms = "*"
crispy-forms-gds = "*"

[dev-packages]
boto3 = "*"

[requires]
python_version = "3.9"
