{% extends "cms/base.html" %} 
{% load wagtailcore_tags crispy_forms_tags crispy_forms_gds %}
{% load static %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Form Submitted
            </h1>
            <div class="govuk-panel__body">
              Thank you for your submission.
            </div>
          </div>
          
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            We’ve sent your application to John Tech HQ.
          </p>
          <p class="govuk-body">
            They will contact you either to confirm your registration, or to ask for more information.
          </p>
         
        </div>
      </div>
    </main>
  </div>
      

{% endblock %}

